@font-face {
    font-family: 'century_schoolbookregular';
    src: url('./fonts/centuryschoolbook-webfont.woff2') format('woff2'),
         url('./fonts/centuryschoolbook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: grid;
    place-items: center;
    font-family: 'century_schoolbookregular', serif;
    background-color: blue;
    color: black;
}

.viewport {
    width: 400px;
    height: 300px;
    border: 1px solid #ccc;
    background: #000;
}

#scene {
    width: 100%;
    height: 100%;
    display: block;
}
