@font-face {
    font-family: 'century_schoolbookregular';
    src: url('./fonts/centuryschoolbook-webfont.woff2') format('woff2'),
         url('./fonts/centuryschoolbook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: grid;
    place-items: center;
    font-family: 'century_schoolbookregular', serif;
    background-color: blue;
    color: black;
}

p {
    -webkit-text-stroke: 0.8px currentColor;
}

img {
    max-width: 400px;
    border: 6px solid black;
}

a {
    text-decoration: none;
    color: black
}

body.grayscale {
    background-color: #ccc;
}

html.grayscale {
    filter: grayscale(90%);
    transition: filter 1 ease;
}

.viewport {
    width: min(400px, calc(100vw - 60px));
    height: 300px;
    border: 1px solid #ccc;
    background: #000;
}

#scene {
    width: 100%;
    height: 100%;
    display: block;
}

/* text input */
.terminal{
    /* background: transparent; */
    
    width: 5px;
    font-size: 2em;
    font-family: inherit;

    margin-top: 1em;
    justify-self: start;
    
    caret-color: transparent;
}